*{
	margin: 0px;
	padding: 0px;
}

#slider{
	background-image: url("../images/r1.jpg");
	height:100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	transition: all 0.8s ease-in-out 0s;
}
.img_box{
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.5);
}
#thumbnails img{
	width: 100px;
	height: 100px;
	margin:0px 7px 0px 7px;
}
#thumbnails img:hover{
	transform:scale(1.1);
}
#thumbnails{
	text-align: center;
	position: absolute;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#slider_nav{
	position: absolute;
	width: 100%;
	color: #ffffff;
	padding-top: 300px;
}
#prev{
	display: inline-block;
	width: 50%;
}
#next{
	display: inline-block;
	width: 50%;
	text-align: right;
}
input[type="radio"]{
	display: none;
}

input[type="radio"]:checked+label img{
	border: 2px solid #000000;
}